
<div class="card col-md-12" style="margin: auto;">
    <center>
      <h2 class="text-primary" style="font-size: 30px;">Fee Management Information System-MIT</h2>
       <cite style="color:blue">Student Deferment Form</cite>
       <div class=" col-md-12" style="padding: 8px;">
        <h1><b><u>{{deferred.names}}</u></b> with Adm No. <u><i>{{deferred.student_id }}</i></u> is about to be defered</h1>
      </div>
    </center>
    <div class="col-md-12 text-right" style="padding: 5px;">
        <button mat-raised-button color="warn" routerLink="../../defer">Defer Another Student instead</button>
    </div>
      <mat-divider></mat-divider>
      <form [formGroup]="students.details" class="normal-form" (ngSubmit)="deferStudent()">
        <div class="col-md-12 row">
          <div class="col-md-12">
            <h3 class="text-center"><b> Student's Essential Details</b> </h3>
          </div>
          <div class="row">
              <div class="col-md-6">
                
                    <label for="">Student Names</label>
                    <mat-form-field appearance="outline"  style="width: 100%;">
                      <mat-label>Student's Full_Names</mat-label>
                      <input type="text" matInput
                     placeholder="Enter Name" formControlName="names" [(ngModel)]="deferred.names" >
                    </mat-form-field>
                 
                  
                    <label for="">Student Admission Number</label>
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Student's Adm No</mat-label>
                      <input type="text" formControlName="AdmNumber" matInput formControlName="student_id" [(ngModel)]="deferred.student_id" 
                      [(ngModel)]="deferred.AdmNumber" >
                    </mat-form-field>
                 
                    <label for="">Student's Gender'</label><br><br>
                    
                    <ng-container >
                      <mat-label style="margin-right:8px" ><input class="mx-1" type="radio" formControlName="gender" value="Male" [(ngModel)]="deferred.gender" >Male</mat-label>
                      <mat-label><input class="mx-1" type="radio" formControlName="gender" value="Female" [(ngModel)]="deferred.gender" >Female</mat-label>
                    </ng-container>
                   
              </div>
              <div class="col-md-6">
                <label for="">Date For Deferment</label>
                    <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Deferment Date</mat-label>
                   <input type="date" matInput name="" id=""  formControlName="deferDate"  [(ngModel)]="deferred.deferDate">
                    
                   </mat-form-field>
                  
                   <label for="">Student's Balance during Deferment</label>
                    <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Latest Fee Balance</mat-label>
                   <input  matInput name="" id=""  formControlName="NewBal"  [(ngModel)]="deferred.NewBal">
                    
                   </mat-form-field>
                   <label for="">Why student is defering</label>
                   <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Reason for Deferment(Less than 10 words)</mat-label>
                   <textarea  matInput name="" id=""  formControlName="deferReason"  [(ngModel)]="deferred.deferReason" ></textarea>
                    
                   </mat-form-field>
                     
                </div>
          </div>
          
        </div>
        <mat-divider></mat-divider>
       
          <div class="col-md-12  row " style="margin: 10px;" >
              <div class="col-md-6 ">
                <button mat-raised-button color="primary" class="mx-2" type="submit" (click)="getData()">Click to Defer <b><u>{{deferred.names}}</u></b></button>
              </div>
              <div class="col-md-6 text-right">
                
                <button mat-raised-button color="accent" routerLink="../../">Clear students</button>
              </div>  
          </div>
        </form>

        <div class="col-md-12 row">
          <!-- //Codes for department and courses wil go here -->
        </div>
    
  </div>
    
     
      <router-outlet></router-outlet>
  

