
<mat-nav-list>
   
    
    <div class="col-md-12">
      
            <button style="width: 100%;" *ngIf="user" class="btn btn-sm btn-outline-success" value="{{user.id}}" (click)="detailsPage(user)" (click)="getStudentInformation($event)">My Fees Details</button>
    
    </div>
    <br>
    
    <mat-divider></mat-divider> <br>
    <div class="col-md-12">
      
        <button style="width: 100%;" *ngIf="user" class="btn btn-sm btn-outline-success" value="{{user.id}}"  (click)="getStudentInformation($event)">MIT E-library</button>

</div>
<br>

<mat-divider></mat-divider><br>
<div class="col-md-12">
      
    <button style="width: 100%;" *ngIf="user" class="btn btn-sm btn-outline-success" value="{{user.id}}"  (click)="getStudentInformation($event)">My semester Units</button>

</div>
<br>

<mat-divider></mat-divider><br>
<div class="col-md-12">
      
    <button style="width: 100%;" *ngIf="user" class="btn btn-sm btn-outline-success" value="{{user.id}}"  (click)="getStudentInformation($event)">My Academic performance</button>

</div>
<br>

<mat-divider></mat-divider><br>
 <br>

    <button mat-icon-button (click)="logout()">
        <mat-icon>send_to_mobile</mat-icon>

        <a routerLinkActive="active" class="link"  class="ln"   mat-nav-list-item>Sign_Out</a>
    </button>
    <br>
</mat-nav-list>


  


