
<mat-card>
 <div class="text-center" style="background-color: lightblue;">
   <h1 style="color: blue; font-size:20px; font-weight:bolder;">Machakos Institute Of Technology - The Student Aminstration Center</h1>
   <mat-divider></mat-divider>
   <div style="padding: 10px;">
    <marquee behavior="" direction="" scrollAmount="2px"><h5 style="color: green; font-size:15px;">Adminstration Main Control Panel - Student's Management Center</h5></marquee>
   </div>
   
   
   <mat-divider></mat-divider>
   <div style="padding: 10px">
    <div class="row">
      <div class="col-md-3">
        <button mat-raised-button><a routerLinkActive="active" class="link" [routerLink]="'clearfinance'" class="ln1"><b>The MIT Alumni</b></a></button>
      </div>
      <div class="col-md-3">
        <button mat-raised-button><a routerLinkActive="active" class="link" [routerLink]="'activateStudent'" class="ln1"><b>Activate Deffered Students</b></a></button>
      </div>
      <div class="col-md-3">
        <button mat-raised-button><a routerLinkActive="active" class="link" [routerLink]="'defer'" class="ln1"><b>Click to Defer A student</b></a></button>
      </div>
      <div class="col-md-3">
        <button mat-raised-button><a routerLinkActive="active" class="link" [routerLink]="'inactiveStudents'" class="ln1"><b>Deferment List</b></a></button>
      </div>
    </div>
   
   </div>
   
 </div>
 <div>
  <router-outlet></router-outlet>
 </div>
</mat-card>
