
<mat-nav-list>
    <button mat-icon-button style="padding-top: 5px;">
        
        <a routerLinkActive="active" class="link" [routerLink]="'accountsPanel/Dashboard'" class="ln"  style="font-size: 20px;" mat-nav-list-item ><mat-icon class="mx-2" >home</mat-icon>Dashboard</a>
    </button>
    <br>
    
    <mat-divider></mat-divider>
    
    <div class="profile-card">
        <h2>Acountant Control Panel</h2>
        
            <img src="../../../../assets/EDU.jpg" alt="">
            <h3>E-mail: angularlaravelmysql@developer.com</h3>
    
    </div>
    
    <mat-divider></mat-divider>
    <div class="row col-md-12">
        <div class="col-md-2"> <button matSubheader mat-icon-button>
            <mat-icon>supervisor_account</mat-icon>
        </button>
        </div>
        <div class="col-md-10">
            <h2 matSubheader style="font-size: 16px;">Manage Fees</h2>
        </div>
    </div>
    
    <mat-divider></mat-divider>
  
    <br>
    <p>
       
    <button mat-icon-button>
        <mat-icon>card_travel</mat-icon>
        <a routerLinkActive="active" class="link" [routerLink]="'accounts'" class="ln"   mat-nav-list-item>Students' Fees</a>
       
    </button>
    <br>
   
    <mat-divider></mat-divider>
    <div class="row col-md-12">
        <div class="col-md-2"> <button matSubheader mat-icon-button>
            <mat-icon>rule</mat-icon>
        </button>
        </div>
        <div class="col-md-10">
            <h2 matSubheader style="font-size: 16px;">Fee Reports</h2>
        </div>
    </div>
    <mat-divider></mat-divider><br>
    <button mat-icon-button>
        <mat-icon>cancel</mat-icon>
    
   
    </button>
    <a routerLinkActive="active" class="link" [routerLink]="'bal'" class="ln"   mat-nav-list-item>View Balances</a><br>

    <button mat-icon-button>
        <mat-icon>list_alt</mat-icon>
    </button>
    <a routerLinkActive="active" class="link" [routerLink]="'reports'" class="ln"   mat-nav-list-item>payment Reports</a><br>
    <br><br>
    <mat-divider></mat-divider>
    <div class="row col-md-12">
        <div class="col-md-2"> <button matSubheader mat-icon-button>
            <mat-icon>link</mat-icon>
        </button>
        </div>
        <div class="col-md-10">
            <h2 matSubheader style="font-size: 16px;">Important Links</h2>
        </div>
    </div>
    <mat-divider></mat-divider><br>
    <button mat-icon-button>
        <mat-icon>stacked_bar_chart</mat-icon>
    </button>
    <a routerLinkActive="active" class="link" [routerLink]="'plans'" class="ln"   mat-nav-list-item>payment Plans</a><br>

    <button mat-icon-button>
        <mat-icon>send_to_mobile</mat-icon>
    </button>
    <a routerLinkActive="active" class="link" [routerLink]="'login_page'" class="ln"   mat-nav-list-item>Sign_Out</a><br>
</mat-nav-list>


  

