<div class="card" style="padding: 10px;background-color: lightblue;">
    <div class="card  text-center" style="padding: 10px;border-radius: 5px;background-color: rgb(46, 46, 248);">
        <div class="row">

            <div class="col-md-6 text-center offset-md-3">
                <h1 style="font-size: 30px; color: white;font-weight: bolder;"> Student's Fees Management Information System</h1>
                <h1 style="font-size: 15px; color: white;font-weight: bolder;"> <b>Tutor's Student Fees Mananagment center</b></h1>
                
                
            </div>
            <div class="col-md-3 text-center">
                <img src="assets/production-logo.jpg" alt="">
                <h6 style="color: white;">Wangi's Computer sofware solution,<br> <b><i>"Making it happen"</i></b></h6>
                

                
            </div>
        </div>
       
       
    </div>
    <div class="row" style="padding: 10px;">
        <div class="col-md-6">
            <h1 style="font-size: 30px;color: blue;font-weight: bolder;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Machakos Institute of Technology</h1>
        <h1  style="color:rgb(2, 37, 2);font-size:20px"><b><i>Master the training and experience the results</i></b></h1><hr>
        </div>
        <div class="col-md-6 text-success text-right">
            <h1 *ngIf="Std" ><span style="color: blue;"><b>{{Std.dept}}</b></span></h1>
            <h1 *ngIf="Std">Tutor Name: <span style="color: blue;"><b>{{Std.names}}</b></span> </h1><hr>
        </div>
        
        
        
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 100%;" (keyup)="applySearch($event)" *ngIf="source_info">
              <mat-label>Search </mat-label>
              <input matInput placeholder="Type here to search" >
            </mat-form-field>
          </div>
          <div class="col-md-6 text-right">
           <h1>Today is <span style="color: blue;"><b>{{TodayDate | date:"mediumDate"}}</b></span> </h1>
          </div>
        <div class="col-md-4" >
            <button mat-raised-button routerLink="../../../../tutors/MainDashboard">Home</button>
            <button *ngIf="Std" value="{{Std.dept_id}}" (click)="loadCourses($event)" class="mx-2 btn btn-outline-success btn-sm" >Load students</button>
            <span *ngFor="let source of source_info">
                <button  *ngIf="source_info" value="{{source.student_id}}" (click)="loadFees($event)" class="mx-2 btn btn-success btn-sm" >Load students Fee Details</button>
            </span>
           
        </div>
        <div class="col-md-4 form-group" >
            <h4 *ngIf="!courses"> <span style="color: rgb(43, 28, 1);"><b><i>No Course loaded, click "Load students" to load courses</i></b></span> </h4>
          <select name="" id="" *ngIf="courses" style="width: 100%;" class="form-control" (change)="loadLevelsForCourseSelected($event)">
            <option value="">Select course</option>  
            <option *ngFor="let course of courses" value="{{course.course_id}}" >{{course.course}}</option>
          </select>
            
        </div>
        <div class="col-md-4">
            <h4 *ngIf="!levels"> <span style="color: rgb(43, 28, 1);"><b><i>No Course level loaded, select course to show levels</i></b></span> </h4>
            
            <select name="" id="" *ngIf="levels" style="width: 100%;" class="form-control" (change)="loadStudentsPerLevel($event)">
                <option value="">Select course level</option>  
                <option *ngFor="let level of levels" value="{{level.course_level_id}}" >{{level.course_level}}</option>
            </select>
            
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div style="padding-top: 10px;" *ngIf="source_info">
                <table mat-table [dataSource]="StudentsAccountsInfo" matSort>
                  <ng-container matColumnDef="student_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Student's Admision Number</th>
                    <td mat-cell *matCellDef="let row">{{row.student_id}}</td>
                  </ng-container>
            
                  <ng-container matColumnDef="names">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Student's Full Names</th>
                    <td mat-cell *matCellDef="let row">{{row.names}}</td>
                  </ng-container>
                  <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Student's Gender</th>
                    <td mat-cell *matCellDef="let row">{{row.gender}}</td>
                  </ng-container>
                  <ng-container matColumnDef="enrolyr">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Enrolled Year</th>
                    <td mat-cell *matCellDef="let row">{{row.enrolyr}}</td>
                  </ng-container>
                 
                
                  <ng-container matColumnDef="complettionYear">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Year of Completion</th>
                    <td mat-cell *matCellDef="let row">{{row.complettionYear}}</td>
                  </ng-container>
                  
                  
                  
                  <tr mat-header-row *matHeaderRowDef="columns"></tr>
                  <tr mat-row *matRowDef="let row; columns:columns;"></tr>
                </table>
                <mat-paginator [length]="10000"  
                [pageSize]="15"
                [pageSizeOptions]="[15,30,60,120, 400, 1000,2000]">
             
              </mat-paginator>
              
              </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 text-center">
                <h3  *ngIf="!studentsFees && source_info"> <b><i>Click "load Student's Fee Details" to load Fees information for students</i></b> </h3>
            </div>
            
            <div style="padding-top: 10px;" *ngIf="studentsFees">
                <table mat-table [dataSource]="StudentsAccountsInfo2" matSort>
                  <ng-container matColumnDef="student_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Student's Admision Number</th>
                    <td mat-cell *matCellDef="let row">{{row.student_id}}</td>
                  </ng-container>
            
                  <ng-container matColumnDef="NewBal">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Student's Fees Balance</th>
                    <td mat-cell *matCellDef="let row">KES. {{row.NewBal}}</td>
                  </ng-container> 
            
                  <ng-container matColumnDef="RenewalDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Remaining Days</th>
                    <td mat-cell *matCellDef="let row">
                      <span [ngClass]="(dayRem(row)>=5)?'text-success':'text-danger'"><mat-icon inline="true">radio_button_checked</mat-icon>  {{dayRem(row)}} days Remaining</span>
                    </td>
                  </ng-container>
            
                
                  <ng-container matColumnDef="operations">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Operation</th>
                    <td mat-cell *matCellDef="let row">
            
                      <button mat-icon-button   color="primary" >
                       Request Fees
                      </button>
                      
                      
                    </td>
                  </ng-container>
                  
                  <tr mat-header-row *matHeaderRowDef="columns2"></tr>
                  <tr mat-row *matRowDef="let row; columns:columns2;"></tr>
                </table>
                <mat-paginator [length]="10000"  
                [pageSize]="15"
                [pageSizeOptions]="[15,30,60,120, 400, 1000,2000]">
             
              </mat-paginator>
              
              </div>
        </div>
    </div>
    
    <hr>
    <div class="card  text-center" style="padding: 10px;border-radius: 5px;background-color: rgb(46, 46, 248);">
        <div class="">
            
            <h6 style="color: white;">The Machkos Institute of Technology - Student's reseravtion center</h6>
            <h6 style="color: white;">Courtesy of Wangila; <b><i>All right reserved &copy; 2021</i></b></h6>
            
        </div>
    </div>
</div>


