<mat-card>
    <div class="container">
      <center>
        <h4 class="text-primary" style="font-size: 25px;"><b>Activated students after deferment</b></h4>
        <h5 style="color: orange;font-size: 20px;"><b><i>The MIT Fees Management App</i></b></h5>
      </center>
    </div>
   
    <div class="text-right" style="width: 100%;">
      <mat-form-field appearance="outline" style="width: 25%;" (keyup)="applySearch($event)">
        <mat-label>Search </mat-label>
        <input matInput placeholder="Type here to search" >
      </mat-form-field>
      <button mat-raised-button routerLink="../" color="primary" class="mx-2">Fee-Payment active-list</button>
    </div>
    
    <div>
      <table mat-table [dataSource]="StudentsAccountsInfo" matSort>
        <ng-container matColumnDef="AdmNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Student's Admision Number</th>
          <td mat-cell *matCellDef="let row">{{row.AdmNumber}}</td>
        </ng-container>
  
        <ng-container matColumnDef="NewBal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Student's Fees Balance</th>
          <td mat-cell *matCellDef="let row">KES. {{row.NewBal}}</td>
        </ng-container> 
  
  
        <ng-container matColumnDef="names">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Student's Full Names</th>
          <td mat-cell *matCellDef="let row">{{row.names}}</td>
        </ng-container>
       
        
        <ng-container matColumnDef="operations">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Operation</th>
          <td mat-cell *matCellDef="let row">
  
            <button mat-raised-button class="btn btn-sm"  color="warn" routerLink="../activateFee/{{row.AdmNumber}}">
             Activate Fee Payment
            </button>
            
            
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns:columns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="10000"  
                    [pageSize]="15"
                    [pageSizeOptions]="[15,30,60,120, 400, 1000,2000]">
                 
    </mat-paginator>
    <div class="container text-right" style="margin-bottom: 6px;"> 
      <button mat-icon-button>
          
      </button>
     
      
  </div>  
  </mat-card>
  
  
  
