

<div class="card">
    <center>
      <h1><b>Student's Schools Fees Management Information System</b></h1>
      <h3><b>Student's fee Details form</b></h3>
      
    </center>
    
    <div class="col-md-12 row">
      <div class="col-md-6">
      <form action="" [formGroup]="serve.details" class="normal-form">
        <mat-grid-list cols="1" rowHeight="500px">
           <mat-grid-tile>
             <div class="col-md-12 row" style="width: 100%;margin-bottom: 50px;">
               <div class="col-md-12 text-center" style="padding: 10px;">
                 <h3>Student's Basic_details</h3>
               </div>
               <div class="row">
                 <div class="col-md-6">
                  <mat-form-field appearance="outline" style="width: 100%;" >
                    <mat-label>Student's Admission Number</mat-label>
                    <input type="text" matInput formControlName="student_id" [(ngModel)]="acm.student_id" readonly  >
                  </mat-form-field>
                 </div>
                 <div class="col-md-6">
                  <mat-form-field appearance="outline" style="width: 100%;" >
                    <mat-label><code>Fee Activation code</code></mat-label>
                    <input type="text" matInput formControlName="course_level_id" [(ngModel)]="acm.course_level_id" readonly  >
                  </mat-form-field>
                </div>
                
               </div>
              
              <mat-form-field appearance="outline" style="width: 100%;" >
                <mat-label>Student's Full Names</mat-label>
                <input type="text" matInput formControlName="names" [(ngModel)]="acm.names" readonly  >
              </mat-form-field> 
             
              <mat-form-field appearance="outline" style="width: 100%;" >
                <mat-label>Student's Outstanding Balance</mat-label>
                <input type="text" matInput formControlName="NewBal" [(ngModel)]="acm.NewBal" readonly  >
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 100%;" >
                <mat-label>Gender</mat-label>
                <input type="text" matInput formControlName="gender" [(ngModel)]="acm.gender" readonly  >
              </mat-form-field>
             
             </div>
           </mat-grid-tile>
           </mat-grid-list>
          </form>
           </div>
          
           <div class="col-md-6">

            




            <form action=""style="width: 100%;" #form="ngForm" (ngSubmit)="form.valid && postStudent()" >
            
              <input type="hidden"  name="student_id" #student_id="ngModel" [(ngModel)]="AccountsData.student_id">
              <input type="hidden"  name="oldBal" #oldBal="ngModel" [(ngModel)]="AccountsData.oldBal">
              <input type="hidden"  name="RenewalDate" #RenewalDate="ngModel" [(ngModel)]="AccountsData.RenewalDate">
              <input type="hidden"  name="session" #session="ngModel" [(ngModel)]="AccountsData.session">
              <input type="hidden"  name="AdmNumber" #AdmNumber="ngModel" [(ngModel)]="AccountsData.AdmNumber">
              <input type="hidden"  name="course_level_id" #course_level_id="ngModel" [(ngModel)]="AccountsData.course_level_id">
              <input type="hidden"  name="AmountPaid" #AmountPaid="ngModel" [(ngModel)]="AccountsData.AmountPaid">
              <input type="hidden"  name="NewBal" #NewBal="ngModel" [(ngModel)]="AccountsData.NewBal">
              
              <input type="hidden"  name="pdate" #pdate="ngModel" [(ngModel)]="AccountsData.pdate">
                   <div class="col-md-12" >
                     <h3 class="text-center">School Fees Details</h3>
                     <span class="mx-2"></span><span [ngClass]="(status==1)?'text-success':'text-danger'">{{message}}</span>
                   </div>
                   
                       <div class="row">
                   
                         <div class="col-md-6 form-group">
                           <label >Student's Admision Number<code>*</code></label>
                           <input class="form-control" name="student_id" pattern="{{acm.student_id}}" #cAdmNumber="ngModel" name="AdmNumber" #AdmNumber="ngModel" #student_id="ngModel" [(ngModel)]="AccountsData.student_id" [(ngModel)]="AccountsData.AdmNumber" >
                           <span class="text-danger" *ngIf="form.submitted && cAdmNumber.errors?.pattern">Admission Number Does Not Match <code>*</code></span>
                         </div>
                              
                             
                          <div class="col-md-6 form-group">
                          
                             <label >Latest Fees Balance (KES)<code>*</code></label>
                             
                                 <input class="form-control" name="oldBal" #oldBal="ngModel" pattern="{{acm.NewBal}}" #ConfirmBal="ngModel" [(ngModel)]="AccountsData.oldBal"  (keyup)="computeBal()">
                                 <span class="text-danger" *ngIf="form.submitted && ConfirmBal.errors?.pattern">Fee Balance for Student Does Not Match <code>*</code></span>
                        
                         </div>
                        </div>

                        <div class="row">
                          <div class="form-group col-md-6" style="width: 100%;">
                            <label >Amount Being Paid (KES)</label>
                            
                                <input class="form-control" name="AmountPaid" #AmountPaid="ngModel" [(ngModel)]="AccountsData.AmountPaid" (keyup)="computeBal()">
                              
                          </div>
                         
                       <div class="form-group col-md-6" style="width: 100%;">
                         <label >New Balance (KES)</label>
                         
                             <input class="form-control" name="NewBal" #NewBal="ngModel" [(ngModel)]="AccountsData.NewBal">
                           
                       </div>
                        </div>
                        
                       <div class="row">
                        <div class="col-md-6 calc">
                          <div class="form-group">
                            <label >Payment Date<code>*</code></label>
                            <input type="date" class="form-control" name="pdate" #pdate="ngModel" [(ngModel)]="AccountsData.pdate">
                          </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label >Renewal Date<code>*</code></label>
                              <input type="date" class="form-control" name="RenewalDate" #RenewalDate="ngModel" [(ngModel)]="AccountsData.RenewalDate">
                            </div>
                         </div>
                       </div>
                      <div class="row">
                        <div class="col-md-6 form-group">
                        
                          <label>Select Semester<code>*</code></label>
                          <select name="session" #session="ngModel" [(ngModel)]="AccountsData.session" class="form-control" >
                            <option value="">Select Semester</option>
                            <option *ngFor="let sem of Semester" value="{{sem.sem}}">
                             {{sem.sem}}
                            </option>
                            </select>
                           </div>

                           <div class="col-md-6 form-group">
                       
                             <label>Fee Activation Code <code>*</code></label>
                             <input name="course_level_id" #course_level_id="ngModel" pattern="{{acm.course_level_id}}" [(ngModel)]="AccountsData.course_level_id" class="form-control" >
                             <span class="text-danger" *ngIf="form.submitted && course_level_id.errors?.pattern">Activation code don't match <code>*</code></span>
                              </div>
                      </div>
                       

                            <div class="row">
                              <div class="col-md-6" style="width: 100%;">
                                <button  class="btn btn-sm btn-primary" routerLink="../../ActivatedStudents">Back</button>
                              </div>
                              <div class="text-right col-md-6" style="width: 100%;">
                                
                                <button type="submit" class="btn btn-sm btn-success" (click)="printForm()">Activate Fee Payments</button>
                              </div>
                            </div>
                        
             
            </form>
      
      </div>
    </div>
  </div>






 

